$sassPink: #cd6799;
$otherPink: rgb(253,225,235);

$paleta: (
    facebook: #2cedc0,
    linkedin: #53abdb,
    instagram: #bd4f74,
    youtube: #ec5f34,
    twitter: #b0c1cc,
    pinterest: #e0d678,
);